# Server Configuration
PORT=3000

# Comma-separated list of paths to include in the root endpoint
# Format: /github/api,/github/web,/github/pages,/aws/ (leading/trailing slashes optional)
HOSTS=/github/api,/github/web,aws/AMAZON,aws/EC2,aws/ROUTE53